#!/bin/bash

cat <<EOF >> /etc/network/interfaces
auto bond0.${vlan}
iface bond0.${vlan} inet static
    address ${machine_ip}
    netmask ${netmask}
    post-up route add -net ${machine_cidr} gw ${gateway_ip}
    post-up route add -net ${gcp_network_cidr} gw ${gateway_ip}
    post-up route add -net ${gcp_private_access_cidr} gw ${gateway_ip}
EOF

ip route add ${machine_cidr}  via ${gateway_ip}
ip route add ${gcp_network_cidr} via ${gateway_ip}
ip route add ${gcp_private_access_cidr} via ${gateway_ip}

cat <<EOF > /etc/systemd/resolved.conf
[Resolve]
DNS=${gcp_dns_forwarder_ip}
EOF
